<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.mapper.BusinessCatMapper">

    <resultMap id="BaseResultMap" type="com.power.domain.po.BusinessCat">
            <id property="id" column="id" />
            <result property="org_id" column="org_id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="deleted" column="deleted" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,org_id,name,description,deleted,create_time,
        update_time
    </sql>
</mapper>
